@charset "utf-8";
/*清除浮动*/
.clear{clear:both;display:block;font-size:0px;height:0px;line-height:0px;}

/*主体部分css*/
#left{float:left;margin-right:6px;width:211px;overflow:hidden;}
/*左侧图书分类css*/
#book_sort{margin-bottom:10px;}
.sort_title{background:url("../images/bg_tit_book.jpg") no-repeat 0px 0px;height:24px;line-height:24px;color:#663300;padding:2px 8px;overflow:hidden;}
h2{font-size:14px;}
.sort_list{border:1px solid #F6A65B;border-top:none;padding:4px 4px 0px 4xp;}
.sort_list .item h3 .dot{background:url(../images/cate_dot.jpg) no-repeat;padding-left:10px;}
.sort_list .item{position:relative;}
.sort_list .item h3{border-bottom:1px solid #FFE2E2;
    height:29px;line-height:29px;padding:0px 7px;
}
.sort_list .item h3 b{
    background:none repeat scroll 0 0 #FFFFFF;color:#F5D695;overflow:hidden;
	position:absolute;height:29px;left:186px;top:0px;width:10px;
}
.sort_list .item h3 a{display:block;padding:1px 0;width:180px;font-size:14px;}
.all_item{padding:5px;}

/*左侧：品牌出版商*/
#publishers{border:1px solid #CCCCCC;margin-bottom:10px;}
.book_title{background:url("../images/bg_gallery.jpg") repeat-x 0 -111px;height:32px;padding:0px;}
.book_title h2 {
    background:url("../images/bg_tit.gif") no-repeat -23px -265px;padding:0px;
    font-family:"microsoft yahei",arial;line-height:20px;padding-left:15px;
}
.book_title span{color:#999999;font-size:11px;font-weight:normal;line-height:10px;padding:0px;}
#publishers ul{width:205px;padding:0 2px 4px;}
#publishers li{position:relative;padding:4px 0 4px 18px;border-top:1px solid #efefef;overflow:hidden;}
#publishers li b{position:absolute;top:9px;left:6px;width:6px;height:6px;overflow:hidden;background:url("../images/bg_icon.gif") no-repeat -72px 0;}
#publishers ul li{background:url("../images/square.jpeg") no-repeat;}
#publishers .fore{border-top:none;}
#publishers .pub_pic{width:196px;height:50px;padding:4px 0;margin:0 auto;border-bottom:1px solid #efefef;}
#publishers .pub_pic img{width:196px;height:50px;}

/*网友荐书*/
#reader_recommend{margin-bottom:10px;overflow:hidden;border:1px solid #cccccc;overflow:hidden;height:150px;}
.book_info{padding:0px;float:left;padding:6px;}
.book_pic{height:100px;width:72px;border:1px solid #CCCCCC;overflow:hidden;float:left;margin-right:6px;}
.book_text{width:116px;float:right;}
.book_name a{line-height:25px;color:#ff0000;}
.book_intr{color:#666666;line-height:20px;}
.book_more a{color:#999999;float:right;}

/*热门作者*/
#hot_author{border:1px solid #cccccc;padding-bottom:4px;}
.author_rank{padding:0px 4px;}
#hot_author{margin-bottom:10px;}
#hot_author .fore{border-top:medium none;color:#CC9933;padding:8px 0;}
#hot_author ul{border-top:1px solid #E0E0E0;overflow:hidden;padding:4px 0;}
#hot_author li{float:left;overflow:hidden;}
#hot_author .fore1 {text-align:center;width:42px;}
#hot_author .fore2{padding-left:8px;width:100px;}
#hot_author .fore3{text-align:center;width:50px;}
#hot_author s {
    background: url("../images/bg_icon.gif") no-repeat 0 0;
    display:block;height:9px;margin:5px auto 0;overflow:hidden;width:9px;
}
#hot_author .equa{background-position:-39px 0;}
#hot_author .up{background-position:-19px 0;}
#hot_author .down{background-position:-29px 0;}

/*中间部分css*/
#middle{float:left;width:546px;margin-bottom:12px;overflow:hidden;}

/*滑动广告*/
#slide{width:544px;height:164px;overflow:hidden;margin-bottom:8px;}
#pfocus{position:relative;width:544px;height:164px;margin:auto;overflow:hidden;}
#pfocus_btn{position:absolute;right:5px;bottom:10px;}
#pfocus li{float:left;}
#pfocus a{text-decoration:none;color:#ff6633;}
#pfocus_btn li{background:#ffffff;border:1px solid #ff6633;width:15px;height:15px;margin-right:3px;text-align:center;}
#pfocus_btn li.current{background:#ff0000;border:2px solid #ff6633;}
#pfocus_btn a.textcolor{color:#ffffff;}

/*一种注目*/
.book_title,.book_tit{color:#666666;font-family:"microsoft yahei",arial;}

.book_tit span{color:#999999;font-size:10px;font-weight:normal;line-height:10px;margin-bottom:0px;}
#focus{border:3px solid #DCDCDC;margin:10px;width:540px;margin-left:0px;overflow:hidden;}
#focus .mt{background:url("../images/bg_book_thumb.gif") repeat-x 0 -27px;line-height:25px;overflow:hidden;height:25px;}
#focus .mt h2{
    background:url("../images/bg_tit.gif") no-repeat -23px -331px;
    float:left;padding-left:15px;color:#666666;
}
#focus .tab{float:right;overflow:hidden;}
#focus .tab li.curr{background: url("../images/bg_book_thumb.gif") no-repeat 0 2px;color:#FFFFFF;width:209px;}
#focus .tab li{
    background: url("../images/bg_book_thumb.gif") repeat-x -128px -57px;float:left;
    color:#666666;height:29px;margin-right:2px;overflow:hidden;text-align:center;width:74px;
}
.view_content{margin:5px;}
.pic_content{float:left;margin-bottom:5px;}
.pic_info .pic_name{color:#FF6666;font-size:14px;font-weight:bold;height:1.2em;margin-bottom:5px;padding-top:5px;}
.con{height:72px;line-height:18px;margin-bottom:4px;overflow:hidden;}
.pic_price del{color:#999999;}
.pic_price strong{color:#ff0000;}
.ad_middle{margin-bottom:10px;}
.book_ad{float:left;width:270px;margin-bottom:10px;}
.book_ad_right{margin-left:2px;float:right;}

/*新书速递*/
#new_books{border-bottom:1px solid #cccccc;margin-bottom:10px;padding:10px 0px;overflow:hidden;}
.book_tit{border-bottom:1px solid #CCCCCC;height:32px;margin-bottom:10px;position:relative;}
.book_tit h2{font-size:14px;padding-top:3px;}
#new_books .book_tit h2{border-bottom:1px solid #33CC00;color:#289703;float:left;bottom:-1px;font-family:"microsoft yahei",arial;font-size:16px;height:32px;left:0;padding:0px 40px 0px 10px;
}
.book_tit span{color:#999999;font-size:10px;font-weight:normal;line-height:12px;}
#new_books .tab{float:right;padding-top:14px;color:#FFFFFF;}
#new_books .tab li{background:url("../images/bg_icon.gif") #999999 no-repeat -47px -12px;width:12px;text-align:center;height:13px;margin-right:5px;color:#FFFFFF;line-height:12px;float:left;}
#new_books .tab li.curr{background-position:-60px -12px;background-color:#ff9900;width:15px;color:#FFFFFF;}
.book_content{padding:0 2px;width:540px;overflow:hidden;}
.pic_list li{width:134px;float:left;border:}
.pic_list .pic_name{font-weight:bold;height:18px;margin-bottom:5px;overflow:hidden;padding-left:20px;}
.pic_list .pic_name a{color: #99CC33;text-decoration:underline;}
.pic_book{background:url("../images/book_shadow.jpg") no-repeat 0 120px;
    height:134px;margin:0 auto 8px;overflow: hidden;padding:0 10px;width:98px;
}
.pic_intr,.pic_price{padding:0 2px 0 18px;line-height:18px;}
.pic_intr{height:35px;overflow:hidden;}

/*编辑推荐*/
#editor_recommend .book_tit h2{border-bottom:1px solid #FF0000;color:#FF0000;float:left;bottom:-1px;font-family:"microsoft yahei",arial;font-size:16px;height:32px;left:0;padding:0px 40px 0px 10px;}
#editor_recommend .text_list{border-color:#CCCCCC;border-style:solid;border-width:1px 0;margin:10px 1px;padding: 5px 10px;overflow:hidden;height:42px;}
#editor_recommend .text_list li{height:18px;overflow:hidden;padding:2px 0 2px 12px;width: 250px;float:left;position:relative;}
#editor_recommend .text_list b{position:absolute;top:7px;left:2px;height:5px;width: 3px;width:3px;height:5px;overflow:hidden;background:url("../images/bg_icon.gif") no-repeat -19px -22px;}

/*美好书童*/
#book_children .book_tit h2{border-bottom:1px solid #0099FF;color:#0099FF;float:left;bottom:-1px;font-family:"microsoft yahei",arial;font-size:16px;height:32px;left:0;padding:0px 40px 0px 10px;}
#book_children .extra{float:right;margin-top:12px;}
#book_children .book_content{border-bottom:1px solid #CCCCCC;padding-bottom:10px;padding-top:10px;}
#book_children .text_list{border-color:#CCCCCC;border-style:solid;border-width:1px 0;margin:10px 1px;padding: 5px 10px;overflow:hidden;height:42px;}
#book_children .text_list li{height:18px;overflow:hidden;padding:2px 0 2px 12px;width: 250px;float:left;position:relative;}
#book_children .text_list b{position:absolute;top:7px;left:2px;height:5px;width: 3px;width:3px;height:5px;overflow:hidden;background:url("../images/bg_icon.gif") no-repeat -19px -22px;}

/*主题馆*/
#gallery{margin-bottom:10px;}
#gallery .book_tit{background:url("../images/bg_gallery.jpg") #cccccc repeat-x 0 0;height:36px;margin-bottom:0;border-bottom:none;}
#gallery .book_tit h2{float:left;height:32px;padding:4px 0 0 8px;background:url(i/bg_gallery.jpg) no-repeat -31px -37px;bottom:0;}
#gallery .tab{float:right;width:460px;height:36px;background:url(i/bg_gallery.jpg) no-repeat 450px -37px;}
#gallery .tab li{height:14px;padding:11px 0;line-height:14px;float:left;}
#gallery .tab .curr{font-weight:bold;background:url("../images/bg_gallery.jpg") no-repeat center -73px;}
#gallery .tab a{padding:0 9px;border-left:1px solid #666;color:#666666;}
#gallery .tab .fore a{border:none;}
#gallery .book_content{padding:10px 1px 0;border:solid #cccccc;border-width:0 2px 2px 2px;}
#gallery .book_content .extra{text-align:right;padding:4px 10px;}

/*独家好书*/
#book_good{margin-bottom:10px;}
#book_good .book_tit{height:36px;margin-bottom:0;border-bottom:none;border-bottom:1px solid #90D3FF;margin-bottom:0;}
#book_good .book_tit h2{float:left;height:32px;padding-top:4px;padding:0px 40px 0px 10px;;color:#90D3FF;font-family: "microsoft yahei",arial;font-size:16px;height:32px;left:0px;padding:0px 40px 0px 10px;position:absolute;
}
#book_good .book_content,#book_set .book_content{padding:10px 2px;border:solid #90D3FF;border-width:0 1px 1px;}
#book_set .book_tit{height:36px;margin-bottom:0;border-bottom:none;border-bottom:1px solid #90D3FF;margin-bottom:0;}

/*套装书*/
#book_set{margin-bottom:10px;}
#book_set .book_tit h2{float:left;height:32px;padding-top:4px;padding:0px 40px 0px 10px;;color:#90D3FF;bottom:-1px;font-family: "microsoft yahei",arial;font-size:16px;height:32px;left:0px;
}
#book_set .book_tit .extra{float:right;margin-top:12px;}

/*超低折扣*/
#discount .book_tit h2{float:left;border-bottom:1px solid #ff0066;color:#ff0066;font-family: "microsoft yahei",arial;font-size:16px;height:32px;left:0px;padding:0px 40px 0px 10px;position:absolute;
}
#discount .tab{float:left;padding:6px 0 0 160px;}
#discount .tab li{width:78px;height:22px;background:url("../images/bg_btn.jpg") #cccccc no-repeat 0 -71px;margin-right:10px;text-align:center;line-height:22px;float:left;}
#discount .tab a{width:78px;height:22px;}
#discount .tab .curr{background:url("../images/bg_btn.jpg") #ff6666 no-repeat 0 -48px;color:#ffffff;}
#discount .tab .curr a{color:#fff;}
#discount .book_tit .extra{float:right;margin-top:12px;}



/*右侧css*/
#right{float:right;width:211px;overflow:hidden;}
/*图书资讯*/
#report{border:1px solid #CCCCCC;width:208px;overflow:hidden;}
#report .book_tit h2{padding-left:32px;background:url('../images/bg_tit.gif') no-repeat -3px 0;font-size:14px;padding-top:3px;}
#report .book_tit{background: url("../images/bg_gallery.jpg") repeat-x 0 -111px;height:32px;border-bottom:none;}
#report ul{padding:0px 0px 6px 5px;}
#report li{height:20px;line-height:20px;overflow:hidden;}
.ad_right img{margin-top:12px;}

/*新书预售推荐*/
#book_prepare{border:1px solid #CCCCCC;margin:12px 0px 12px 0px;overflow:hidden;}
#book_prepare h2{padding-left:32px;background:url("../images/bg_tit.gif") no-repeat -6px -33px;}

/*出版社热推*/
#pub_recommend{border:1px solid #cccccc;overflow:hidden;margin-bottom:12px;}
#pub_recommend .book_tit{border:none;background:url("../images/bg_gallery.jpg") repeat-x 0 -111px;
height:32px;}
#pub_recommend h2{background:url("../images/bg_tit.gif") no-repeat -23px -265px;
 font-family:"microsoft yahei",arial;height:32px;padding-left:15px;font-size:14px;
}
#pub_content{margin:auto;height:82px;padding:7px 3px;overflow:hidden;}
#left_arrow{float:left;background:url("../images/icon_arrow.jpg") no-repeat 0px 0px;height:32px;width:17px;margin-top:20px;}
#pub_list{float:left;}
#right_arrow{float:left;background:url("../images/icon_arrow.jpg") no-repeat -17px 0px;height:32px;width:17px;margin-top:20px;}

/*每周畅销榜*/
#week_sale{border:1px solid #cccccc;overflow:hidden;width:209px;}
#week_sale .book_tit{overflow:hidden;background:url("../images/bg_gallery.jpg") repeat-x 0 -111px;height:32px;border:none;}
#week_sale h2{padding-left:32px;background:url("../images/bg_tit.gif") no-repeat -5px -99px;}
#week_sale .book_content{overflow:hidden;width:210px;padding:0px;}
#week_sale .book_content .toggle h3{float:left;width:127px;height:18px;background:url("../images/bg_book_thumb.gif") no-repeat 0 -59px;font-size:12px;font-weight:normal;line-height:18px;text-align:center;margin-left:2px;}
#week_sale .book_content h3 a{color:#ffffff;border:0px;}
#week_sale .book_content .toggle .num_tab{float:right;padding-top:2px;}
#week_sale .num_tab li{ background: url("../images/bg_icon.gif") no-repeat -47px -12px;
    color:#FFFFFF;height:16px;line-height:12px;margin-right:3px;text-align:center;width:12px;float:left;
}
#week_sale .tab_list{border-bottom:1px solid #CCCCCC;padding:2px 0 0 3px;}
#week_sale .tab_list li{background:url("../images/bg_book_thumb.gif") no-repeat 0 -117px;
    height:18px;line-height:18px;margin:0 2px 4px 0;text-align:center;width:39px;float:left;
}
#week_sale .num_tab .curr{background: url("../images/bg_icon.gif") no-repeat -60px -12px;width:15px;}

/*新书热销榜*/
.rank{width:205px;padding:0 2px;overflow:hidden;zoom:1;}
.rank li{float:left;width:195px;padding:6px 5px;height:56px;border-top:1px solid #efefef;overflow:hidden;}
.rank span{float:left;margin:4px 7px 0 0;width:11px;height:11px;overflow:hidden;background:url("../images/bg_icon.gif") #EE7F0B no-repeat -19px -10px;color:#fff;font-size:10px;line-height:11px;text-align:center;font-family:arial;}
.rank .p-img{float:left;margin:3px 5px 0 0;}
.rank .p-img img{border:1px solid #ccc;}
.rank .p-name{float:left;width:120px;height:18px;line-height:18px;overflow:hidden;}
.rank .fore{border-top:none;width:197px;padding-left:3px;}
.rank .fore span{width:17px;height:20px;margin-right:3px;background-position:-19px -28px;line-height:50px;}
.rank .extra{line-height:32px;float:right;border-top:1px solid #EFEFEF;margin:2 2px;padding:4px 5px;text-align:right;width:110px;}
#new_sale{border:1px solid #cccccc;overflow:hidden;width:209px;margin-top:12px;}
#new_sale .book_tit{overflow:hidden;background:url("../images/bg_gallery.jpg") repeat-x 0 -111px;height:32px;border:none;}
#new_sale h2{padding-left:32px;background:url("../images/bg_tit.gif") no-repeat -5px -66px;}

/*京东书评人*/
#reviewer{margin:12px 0px;border:1px solid #cccccc;overflow:hidden;}
#reviewer .book_tit{border:none; background: url("../images/bg_gallery.jpg") repeat-x scroll 0 -111px #CCCCCC;
    height: 32px;}
#reviewer h2{padding-left:32px;background:url("../images/bg_tit.gif") no-repeat -4px -166px;}
.user_pic{float:left;margin:0px 12px 12px 0px;}
.user_info{float:left;line-height:16px;width:130px;border-bottom:1px dotted #cccccc;}
.user_post{line-height:18px;}
.user_reply{color:#ff6666;line-height:18px;margin:auto;width:200px;}
.user_content{margin:auto;width:200px;line-height:18px;}
.user_more{width:200px;text-align:right;line-height:20px;color:#ff6666;border-bottom:1px dotted #cccccc;margin-bottom:8px;}
.more_comment{width:200px;line-height:32px;text-align:right;}



